@media (max-width : 680px), screen and (orientation: portrait) {
  
    
    .intro{
        width: 80%;/*i change it (hanna) :) */
    }
    .dropbtn {
        color: white;
        padding: 2vw;
        /* font-size: 16px; */
        border: none;
        cursor: pointer;
    }
      
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;
    }
      
    .dropdown-content a {
        text-decoration: none;
        display: block;
    }
      
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .menu-link{
        display: none;
    }
    .banner-right img {
        display: none;
    }
    .vertical-line {
        display: none;
    }


/*blog photos*/

    .blog-photos {
        width: 50vw;
        flex-wrap: wrap;
    }
    .blog-photo1 img{
        width: 80vw;
        height: 45vw;
        border-radius: 0px;
        position: relative;
        padding-top: 1vw;
    }
    .bg-white{
        background: white;
        position: absolute;
        margin-top: -26vw;
        padding: 1vw;
        margin-left: 0vw;
        width: 40vw;
    }
    .from-the-blog button{
        width: 45vw;     
    }





/* my-services */

    .services-up {
        display: flex;
        flex-direction: column;
    }
    .services-down {
        display: flex;
        flex-direction: column;
    }

/* my-picing */

    .pricing {
    display: flex;
    flex-direction: column;
    }
    .services-boxes {
        margin-bottom: 8%;
    }

}  
