
* {
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #ccc;
}
.main-container {
    width: 80vw;
    margin: auto;
}
.header-container {
    height: 15vh;
    background-color: teal;
}
.unfold {
    background-image: "assests/myImage.jpg"
}
.menu {
    margin-right: 25px;
    height: 5vh;
    background-color: rebeccapurple;
}
.nav-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    padding: 5px;
}
.banner {
}
.hello {
}
.hero {
}
.social-icon {
}
.about-me {
    background-color: red;
}
.light-bg {
}
.dark-bg {
}
.intro {
    width: 600px;/*prati*/
}
.about-me-left {
}
.information {
}
.about-me-right {
}
.my-service  {
    background-color: yellow;
}
.services-up {
    display: flex;
}
.services-down {
    display: flex;
}
.one-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 3%;
    margin: 10px;

}
.any-project {
    height: 5vh;
    /* background-color: brown; */
    background: url(./img/any-proj-bg.jpg);
    background-size: cover;
    /* height: 300px; */
    color: white;
}
.transparent-any-project{   
    height: 300px;
    background-color: rgb(117, 78, 249, 0.5);   
}
.project-position{
    margin-left: 240px;
    text-align: center;
    padding: 50px;
    width: 600px;

}
.white-btn{
    background-color: white;
    color: #754ef9;
}
.transparent-btn{
    background-color:rgb(117, 78, 249, 0.1);
    color: white;

}
.button button {
    border: white solid 1px;
    height: 30px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;

}
.my-recent-works {
    height: 5vh;
    background-color: orange;
}
.intro-my-recent {
}
.works-images {
}
.my-pricing-plans {
    height: 5vh;
    background-color: pink;
}
.pricing {
    display: flex;
}
.services-boxes {
    display: flex;
    flex-direction: column;
    text-align: center;
}
li {
  list-style-type: none;
}
.services-boxes h3 {
    
}
.blog-intro{
    margin-left: 240px;
    width: 600px;
}
.blog-photos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    width: 910px;
    margin-left: 150px;
}
.blog-photo1 img{
    width: 255px;
    height: 260px;
    border-radius: 5px;
    position: relative;
    
}
.bg-white{
    background: white;
    width: 190px;
    position: absolute;
    margin-top  : -115px;
}
.from-the-blog button{ 
    border :rgb(117, 78, 249, 0.1);
    color: white;
    background-color:rgb(117, 78, 249);
    -webkit-box-shadow: 0px 4px 17px 0px rgba(102,122,119,1);
    -moz-box-shadow: 0px 4px 17px 0px rgba(102,122,119,1);
    box-shadow: 0px 4px 17px 0px rgba(102,122,119,1);
    height: 30px;
    width: 150px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.from-the-blog {
    height: 5vh;
    background-color: green;
}

.get-in-touch {
    height: 5vh;
    background-color: aqua;
}
.contact-up {
}
.contact-down {
}
.contact-left {
}
.contact-right {
}
.footer-info {
    height: 5vh;
    background-color: lime;
}
.copyright {
}