

* {
    margin: 0;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    font-family: Roboto;
}

p {
    color: grey;
}

.main-container {
    width: 80vw;
    margin: auto;
}
.header-container {
    margin: auto;
    height: 565px;
    background-color: white;
}
.unfold {
    background-image: "assests/myImage.jpg"
}
.menu {
    margin-right: 25px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    padding: 5px;
}
nav {
    height: 65px;
}

.banner-bg {
    height: 500px;
    background-color: rgb(251, 251, 251);
    position: relative;
}

/*1019 * 500 */

.shape-1 {
    position: absolute;
    height: 80px;
}
.shape-2 {
    position: absolute;
    height: 60px;
    top: -10px;
    left: 150px;
}
.shape-3 {
    position: absolute;
    height: 100px;
    top: -10px;
    left: 300px;
}
.shape-2-b {
    position: absolute;
    height: 60px;
    top: 0px;
    left: 900px;
}
.shape-4 {
    position: absolute;
    height: 30px;
    bottom: 300px;
    left: 40px;
}
.shape-5 {
    position: absolute;
    height: 100px;
    bottom: 30px;
}
.shape-3-b {
    position: absolute;
    height: 100px;
    bottom: 150px;
    left:  50px;
}
.shape-6 {
    position: absolute;
    height: 100px;
    bottom: 50px;
    left:  450px;
}
.shape-3-c {
    position: absolute;
    height: 80px;
    bottom: 20px;
    right:  10px;
}
.shape-1-b {
    position: absolute;
    height: 80px;
    right:  20px;
    bottom: 200px;
}

.banner-infront {
    height: 500px;
    width: 80vw;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 65px;
}
.banner-right img {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-left {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hello {
    padding-top: 15%;
}
.banner-left img {
    width: 50%;
    padding-top: 25%;
}
.banner-right img {
    height: 400px;
    display: flex;
}

.about-me {
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    width: 50%;
    padding: 0 3% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-left {
    flex: 1 1 0px;
}

.about-me-right {
    flex: 1 1 0px;
}
i {
    color: #754ef9;
    padding-bottom: 10%;
}
.my-service  {
    background-color: rgb(230, 230, 230);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-up {
    display: flex;
}
.services-down {
    display: flex;
}
.one-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 3%;
    margin: 10px;

}
.any-project {
    background: url(./img/any-proj-bg.jpg);
    background-size: cover;
    color: white;
}
.transparent-any-project{   
    background-color: rgb(117, 78, 249, 0.5);   
}
.project-position{
    text-align: center;
    padding-top: 12vh;
    padding-bottom: 12vh;
    width: 50%;
    margin: auto;

}
.white-btn{
    background-color: white;
    color: #754ef9;
}
.transparent-btn{
    background-color:rgb(117, 78, 249, 0.1);
    color: white;

}
.button button {
    border: white solid 1px;
    height: 30px;
    width: 150px;
    border-radius: 30px;
    margin: 1vw;

}
.my-recent-works {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-my-recent {
}
.works-images {
}
.my-pricing-plans {
    padding: 10%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing {
    display: flex;
}
.services-boxes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 2% 0 2%;
}
.services-shadow {
    box-shadow: 0 4px 20px 0 grey;
}
.first-part {
    background-color: #754ef9;
    color:  white;
    border-radius: 3px 3px 0 0;
    padding: 6% 0 6% 0;
}
.scd-part {
    background-color: white;
    padding: 6% 4% 6% 4%;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
.third-part {
    background-color: white;
    padding: 20% 4% 20% 4%;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 0 0 3px 3px;

}
li {
  list-style-type: none;
}
.button-white {
    background-color: white;
    color: #754ef9;    
    border-style: 1px solid #754ef9;
    border-radius: 30px;
    margin: 10px;
    height: 30px;
    width: 150px;
    box-shadow: 0px 6px 8px 0 #754ef9;
}
.button-purple {
    background-color: #754ef9;
    color: white;
    border-style: 1px solid white;
    border-radius: 30px;
    margin: 10px;
    height: 30px;
    width: 150px;
    box-shadow: 0px 6px 8px 0 #754ef9;
}

.from-the-blog {
    background-color: white;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.blog-intro{
    text-align: center;
    padding-top: 5vh;
}
.blog-photos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
   
}
.blog-photo1 img{
    width: 22vw;
    height: 23vw;
    border-radius: 40px;
    position: relative;
    padding: 2vw;
}
.bg-white{
    background: white;
    width: 15vw;
    height: 4.vw;
    position: absolute;
    margin-top: -9vw;
    padding: 1vw;
    margin-left: 2vw;
}
.from-the-blog button{ 
    border :rgb(117, 78, 249, 0.1);
    color: white;
    background-color:rgb(117, 78, 249);
    -webkit-box-shadow: 0px 4px 17px 0px rgba(102,122,119,1);
    -moz-box-shadow: 0px 4px 17px 0px rgba(102,122,119,1);
    box-shadow: 0px 4px 17px 0px rgba(102,122,119,1);
    height: 4vh;
    width: 15vw;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: 2vw;
}

.get-in-touch {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}
.contact-up {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
}
.contact-up-div{
    border: black 0.5px solid;
    width: 30%;
    text-align: center;
    padding-top: 50px;
}
.contact-down {
    display: flex;
}
.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    
    
}
.contact-right {
    border: white 15px solid;
}
.mapouter{
    position:relative;
    text-align:right;
    height:255px;
    width:330px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:255px;
    width:330px;
}
.footer-align{
    background-color: rgb(75, 78, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;
    padding-left:  10%;
    padding-right: 10%;
    color: white;
}

.footer-align img{
    width: 100px;
}
.footer-align p{
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.copyright {
    padding-top: 2px;
    width: 80vw;
    height: 30px;
    background: rgb(32, 32, 32);
    text-align: center;
    color: white;
}
.social-connect i{
    
    margin: 5px;
}
.copyright p{
    margin-top: 5px;
    height: 10px;
}

.progress-bar-container {
    width: 100%;
    display: inline-block;
}
.pb-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pb-left {
    align-self: flex-start;
}
.pb-right {
    align-self: flex-end;
}
.progress-bar {
    height: 0.3vh;
    width: 100%;
    background-color: #ccc;
}
.progress-bar-color {
    height: 100%;
    width: var(--pb-width);
    background-color: blue;
}

